openapi: 3.0.3
info:
  title: DealMatcher API
  version: 1.0.0
servers:
  - url: https://api.dealmatcher.com/v1
tags:
  - name: purchase-offer
    description: Oferty kupna
  - name: cart
    description: Koszyk
  - name: user
    description: Użytkownik
  - name: offer
    description: Oferty wystawione w aplikacji
  - name: category
    description: Kategorie oferty i ich właściwości
  - name: wishlist
    description: Listy życzeń użytkownika
  - name: conversation
    description: Konwersacje między kupującym a sprzedającym
  - name: message
    description: Wiadomości w konwersacjach
  - name: payments
    description: Płatności
  - name: search-histories
    description: Historia wyszukiwania
  - name: deliveries
    description: dostawy
  - name: reviews
    description: Zarządzanie opiniami i ocenami użytkowników
  - name: bans
    description: Zarządzanie banicjami
  - name: appeals
    description: Zarządzanie odwołaniami od blokad 

paths:
  /categories:
    get:
      tags:
        - category
      summary: Pobierz wszystkie dostępne kategorie
      description: >
        Umożliwia pobranie wszystkich dostępnych kategorii w systemie
      responses:
        200:
          description: Udało się pobrać wszystkie kategorie
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponse"
  /categories/{categoryName}/properties:
    get:
      tags:
        - category
      summary: Pobierz właściwości danej kategorii
      description: >
        Umożliwia pobranie wszystkich właściwości danej kategorii
      parameters:
        - name: categoryName
          required: true
          in: path
          schema:
            type: string
      responses:
        200:
          description: Udało się pobrać właściwości
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PropertyResponse"
  /offers/search:
    post:
      tags:
        - offer
      summary: Utwórz obiekt wyszukiwania ofert kupna
      description: >
        Pozwala utworzyć zapytanie wyszukiwania ofert kupna, gotowych do swipowania.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#components/schemas/OfferSearchCreateRequest"
      responses:
        201:
          description: Wynik zapytania został pomyślnie utworzony
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    offers:
                      $ref: "#/components/schemas/OfferResponse"
                    adUrls:
                      type: array
                      items:
                        type: string
        204:
          description: Nie znaleziono żadnych ofert
        400:
          description: Błąd w podanych filtrach - niepoprawna kategoria lub niepoprawne property
        403:
          description: Próba pominięcia ofert promowanych niebędąc userem premium
  /offers:
    post:
      tags:
        - offer
      summary: Utwórz nową ofertę
      description: >
        Pozwala utworzyć nową ofertę w systemie, oferta jest utworzona ze statusem DRAFT, dopóki nie przejdzie walidacji
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OfferCreateRequest"
      responses:
        201:
          description: Udało się utworzyć ofertę
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OfferResponse"
        401:
          description: Użytkownik nie jest zalogowany
  /offers/{offerId}:
    get:
      tags:
        - offer
      summary: Pobierz szczegóły oferty
      description: >
        Pozwala pobrać szczegóły konkretnej oferty
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: number
      responses:
        200:
          description: Udało się pobrać ofertę
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OfferResponse"
        403:
          description: Próba pobrania nieaktywnej oferty, jeśli niezalogowany
        404:
          description: Nie znaleziono oferty
    patch:
      tags:
        - offer
      summary: Zmodyfikuj ofertę
      description: >
        Pozwala zmodyfikować istniejącą ofertę. Zmienia jej status na draft do walidacji
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: number
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OfferUpdateRequest"
      responses:
        200:
          description: Udało się zmodyfikować ofertę
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OfferResponse"
        401:
          description: Niezalogowany użytkownik
        403:
          description: Próba modyfikacji nieswojej oferty
        404:
          description: Nie znaleziono oferty
        409:
          description: Oferta od zewnętrznego dostawcy
    delete:
      tags:
        - offer
      summary: Usuń ofertę
      description: >
        Umożliwia sprzedawcy i adminowi usunięcie oferty z systemu (soft delete)
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: number
      security:
        - bearerAuth: []
      responses:
        204:
          description: Udało się skasować oferte
        401:
          description: Niezalogowany user
        403:
          description: Próba usunięcia zasobu, do którego się nie ma dostępu
        409:
          description: Oferta już usunięta
  /offers/{offerId}/status:
    put:
      tags:
        - offer
      summary: Zmień status oferty
      description: >
        Pozwala zmienić status oferty na ACTIVE (Adminowi), PROMOTED (Userowi) lub SOLD (Userowi)
      parameters:
        - name: offerId
          required: true
          in: path
          schema:
            type: number
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [ACTIVE, PROMOTED, SOLD]
      responses:
        200:
          description: Zmieniono status oferty
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OfferResponse"
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba modyfikacji nieswojego zasobu, próba walidacji swojej własnej oferty
        404:
          description: Nie znaleziono takiej oferty
  /offers/{offerId}/purchaseOffers:
    get:
      tags:
        - offer
      summary: Pobierz oferty kupna danej oferty
      description: Pozwala sprzedawcy pobrać wszystkie oferty kupna jego oferty
      parameters:
        - name: offerId
          required: true
          in: path
          schema:
            type: number
      security:
        - bearerAuth: []
      responses:
        200:
          description: Pobrano oferty kupna
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PurchaseOfferResponse"
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba dostępu do nieswojego zasobu
        404:
          description: Nie znaleziono oferty o podanym id
  /offers/{offerId}/purchase:
    post:
      tags:
        - offer
      summary: Utwórz nowy zakup
      description: >
        Pozwala utworzyć nowy zakup do danej oferty. Przekierowuje do płatności
      parameters:
        - name: offerId
          required: true
          in: path
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentType:
                  type: string
                deliveryType:
                  type: string
      security:
        - bearerAuth: []
      responses:
        303:
          description: Przekierowanie do dostawcy płatności
        "404":
          description: Nie znaleziono oferty o podanym id
        409:
          description: Oferta nie jest aktywna do sprzedaży
  /purchase-offers:
    post:
      tags:
        - purchase-offer
      summary: Utwórz nową ofertę kupna (złożenie propozycji sprzedającemu)
      description: >
        Pozwala zalogowanemu kupującemu złożyć ofertę kupna konkretnego produktu sprzedającemu,
        w celu wynegocjowania ceny.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchaseOfferCreateRequest"
      responses:
        201:
          description: Oferta kupna została pomyślnie utworzona.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOfferResponse"
        400:
          description: Błędne dane wejściowe.
        401:
          description: Użytkownik nie jest zalogowany.
        404:
          description: Nie znaleziono oferty

    get:
      tags:
        - purchase-offer
      summary: Pobierz listę ofert kupna
      description: >
        Pobiera listę ofert kupna do wyświetlenia w konwersacji. Z tego powodu filtruje po id oferty i id buyera. Dla sprzedawcy i dla kupującego
      security:
        - bearerAuth: []
      parameters:
        - name: offerId
          in: query
          description: Unikalny identyfikator oferty.
          required: true
          schema:
            type: number
        - name: buyerId
          in: query
          description: Unikalny identyfikator kupującego.
          required: true
          schema:
            type: number
      responses:
        "200":
          description: Lista ofert kupna.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOfferListResponse"
        "401":
          description: Niezalogowany użytkownik
        "403":
          description: Próba dostępu do nie swoich zasobów
        "404":
          description: Nie znaleziono oferty lub kupującego

  # /purchase-offers/{offerId}:
  #   get:
  #     tags:
  #       - purchase-offer
  #     summary: Szczegóły oferty kupna
  #     description: Pobiera wszystkie oferty kupna dla danego ogłoszenia. Tylko dla sprzedawcy
  #     security:
  #       - bearerAuth: []
  #     parameters:
  #       - name: offerId
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #           format: uuid
  #     responses:
  #       "200":
  #         description: Szczegóły oferty.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/PurchaseOfferListResponse"
  #       "401":
  #         description: Użytkownik niezalogowany
  #       "403":
  #         description: Dostęp nie do swojego zasobu - nie jako sprzedawca
  #       "404":
  #         description: Oferta nie znaleziona.

  /purchase-offers/{purchaseOfferId}:
    delete:
      tags:
        - purchase-offer
      summary: Wycofaj/Anuluj ofertę kupna
      description: >
        Pozwala kupującemu zrezygnować z oferty w każdej chwili przed jej finalizacją.
      security:
        - bearerAuth: []
      parameters:
        - name: purchaseOfferId
          in: path
          required: true
          schema:
            type: number
      responses:
        "204":
          description: Oferta została wycofana (anulowana).
        "401":
          description: Użytkownik niezalogowany
        "404":
          description: Nie znaleziono oferty
        "409":
          description: Nie można wycofać oferty w obecnym statusie (np. już zakończona).
    patch:
      tags:
        - purchase-offer
      summary: Kontruj ofertę
      description: >
        Pozwala sprzedającemu skontrować ofertę kupującego. Zmienia status na countered
      security:
        - bearerAuth: []
      parameters:
        - name: purchaseOfferId
          in: path
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchaseOfferUpdateRequest"
      responses:
        "200":
          description: "Oferta została skontrowana"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOfferResponse"
        "401":
          description: "Użytkownik niezalogowany"
        "403":
          description: "Próba dostępu do nie swojego zasobu"
        "409":
          description: "Oferta jest już w statusie COUNTERED"
        "404":
          description: "Nie znaleziono oferty kupna"
  /purchase-offers/{purchaseOfferId}/status:
    put:
      tags:
        - purchase-offer
      summary: Zaakceptuj lub odrzuć ofertę kupna
      description: >
        Pozwala sprzedającemu zaakceptować/odrzucić ofertę kupującego, lub kupującemu kontrę sprzedającego
      security:
        - bearerAuth: []
      parameters:
        - name: purchaseOfferId
          in: path
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchaseOfferChangeStatusRequest"

      responses:
        "200":
          description: "Oferta została zaakceptowana"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOfferResponse"
        "401":
          description: "Użytkownik niezalogowany"
        "403":
          description: "Zabroniona akcja - np akceptacja własnej oferty przez kupującego, lub własnej kontry przez sprzedającego"
        "409":
          description: "Oferta jest w niepoprawnym statusie, np ACCEPTED lub REJECTED"
        "404":
          description: "Nie znaleziono oferty kupna"
  /carts/items:
    post:
      tags:
        - cart
      summary: Dodaj nową ofertę do koszyka
      description: Pozwala dodać użytkownikowi ofertę do swojego koszyka.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartAddOfferRequest"
      responses:
        "201":
          description: "Dodano ofertę do koszyka"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartItemResponse"
        "401":
          description: "Użytkownik niezalogowany"
        "404":
          description: "Nie znaleziono oferty"
        "409":
          description: "Oferta znajduje się już w koszyku"
    get:
      tags:
        - cart
      summary: "Zwróć listę ofert w koszyku użytkownika"
      description: "Zwraca listę wszystkich ofert o unikalnym identyfikatorze oraz ich liczebności"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Zwrócono listę ofert w koszyku"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartResponse"
        "401":
          description: "Użytkownik niezalogowany"
        "404":
          description: "Nie znaleziono koszyka bądź użytkownika"
  /carts/total-price:
    get:
      tags:
        - cart
      summary: "Zwróć sumaryczną cenę ofert z koszyka"
      description: "Oblicza sumę cen wszystkich ofert występujących w koszyku i ją zwraca w odpowiedzi"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Zwrócono cenę wszystkich ofert z koszyka"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartTotalPriceResponse"
        "401":
          description: "Użytkownik niezalogowany"
  /carts/items/{offerInCartId}/count:
    patch:
      tags:
        - cart
      summary: Zmień liczbę tych samych ofert w koszyku
      description: Pozwala zmienić liczbę ofert o tym samym identyfikatorze istniejących w koszyku.
      security:
        - bearerAuth: []
      parameters:
        - name: offerInCartId
          in: path
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartItemCountRequest"
      responses:
        "200":
          description: "Zmieniono liczbę tych samych ofert w koszyku"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartItemResponse"
        "401":
          description: "Użytkownik niezalogowany"
        "404":
          description: "Nie znaleziono oferty"
        "409":
          description: "Podana liczba count jest spoza dopuszczalnego zakresu"
  /carts/items/{offerInCartId}/delete:
    delete:
      tags:
        - cart
      summary: Usuwa ofertę z koszyka
      description: Na podstawie identyfikatora oferty w koszyku usuwa jego rekord z bazy danych
      security:
        - bearerAuth: []
      parameters:
        - name: offerInCartId
          in: path
          required: true
          schema:
            type: number
      responses:
        "204":
          description: "Usunięto ofertę z koszyka"
        "401":
          description: "Użytkownik niezalogowany"
        "404":
          description: "Nie znaleziono oferty w koszyku"
  /user/register:
    post:
      tags:
        - user
      summary: Zarejestruj użytkownika
      description: Sprawdza, czy podany email znajduje się w bazie użytkowników, jeśli nie dodaje go do bazy danych razem z pozostałymi, jeżeli zostały poprawnie zwalidowane. Ustawia stan użytkownika na nieaktywny.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRegisterRequest"
      responses:
        "201":
          description: "Pomyślnie zarejestrowano użytkownika"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "403":
          description: "Email użytkownika występuje w bazie danych"
        "409":
          description: "Wprowadzono niepoprawne dane do rejestracji"
  /tokens:
    get:
      tags:
        - user
      summary: Zaloguj użytkownika
      description: Ocenia, czy dane logowania są poprawne oraz czy użytkownik nie jest zbanowany. Jeśli tak, przyznaje mu w sesji token JWT.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserLoginRequest"
      responses:
        "200":
          description: "Pomyślnie zalogowano użytkownika"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserLoginResponse"
        "403":
          description: "Użytkownik został zbanowany"
        "409":
          description: "Wprowadzono niepoprawne dane logowania"
  /users/email/verify:
    post:
      tags:
        - user
      summary: Zweryfikuj email użytkownika
      description: Dokonuje walidacji wprowadzonego emaila przez użytkownika.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserEmailVerifyRequest"
      responses:
        "204":
          description: "Pomyślnie zweryfikowano email użytkownika"
        "403":
          description: "Znaleziono email w bazie"
        "409":
          description: "Wprowadzono niepoprawny email"
  /users/password/verify:
    post:
      tags:
        - user
      summary: Zweryfikuj hasło użytkownika
      description: Dokonuje walidacji wprowadzonego hasła przez użytkownika.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPasswordVerifyRequest"
      responses:
        "204":
          description: "Pomyślnie zweryfikowano hasło użytkownika"
        "409":
          description: "Wprowadzono niepoprawne hasło"
  /users/{userId}:
    get:
      tags:
        - user
      summary: Pobierz szczegóły użytkownika
      description: Otrzymuje wszystkie informacje o danym użytkowniku. Tylko dla administratora.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: number
      responses:
        "200":
          description: "Pomyślnie pobrano szczegóły użytkownika"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserGetResponse"
        "403":
          description: "Użytkownik nie jest administratorem"
        "404":
          description: "Nie znaleziono użytkownika o podanym identyfikatorze w bazie"
    delete:
      tags:
        - user
      summary: Usuń użytkownika
      description: Usuwa dane użytkownika (soft delete). Tylko dla administratora.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: number
      responses:
        "204":
          description: "Usunięto użytkownika"
        "403":
          description: "Użytkownik nie jest administratorem"
        "404":
          description: "Nie znaleziono użytkownika o podanym identyfikatorze w bazie"
  /users/me:
    get:
      tags:
        - user
      summary: Pobierz moje szczegółowe dane.
      description: Umożliwia pobrać przez użytkownika na podstawie tokena w sesji jego szczegółowe dane.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Udało się pobrać szczegółowe dane użytkownika.
          content:
            application/json:
              schema:
                $ref: "#components/schemas/UserGetResponse"
        401:
          description: Użytkownik niezalogowany
  /users/me/edit:
    put:
      tags:
        - user
      summary: Zaktualizuj moje szczegółowe dane.
      description: Umożliwia pobrać przez użytkownika na podstawie tokena w sesji jego szczegółowe dane.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserEditRequest"
      responses:
        200:
          description: Udało się zaktualizować szczegółowe dane użytkownika.
          content:
            application/json:
              schema:
                $ref: "#components/schemas/UserResponse"
        401:
          description: Użytkownik niezalogowany
  /users/me/offers:
    get:
      tags:
        - user
      summary: Pobierz wystawione przeze mnie oferty
      description: >
        Umożliwia pobranie wystawionych przez usera tokena (identity z tokena)
      security:
        - bearerAuth: []
      responses:
        200:
          description: Udało się pobrać oferty usera
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#components/schemas/OfferResponse"
        204:
          description: Brak ofert u usera
        401:
          description: Użytkownik niezalogowany
  /wishlists:
    get:
      tags:
        - wishlist
      summary: Pobierz wszystkie listy życzeń użytkownika
      description: Zwraca wszystkie listy życzeń zalogowanego użytkownika
      security:
        - bearerAuth: []
      responses:
        200:
          description: Udało się pobrać listy życzeń
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WishlistResponse"
        401:
          description: Użytkownik niezalogowany
    post:
      tags:
        - wishlist
      summary: Utwórz nową listę życzeń
      description: Pozwala użytkownikowi utworzyć nową listę życzeń
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WishlistCreateRequest"
      responses:
        201:
          description: Udało się utworzyć listę życzeń
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WishlistResponse"
        401:
          description: Użytkownik niezalogowany
        400:
          description: Nieprawidłowe dane wejściowe

  /wishlists/{wishlistId}:
    get:
      tags:
        - wishlist
      summary: Pobierz szczegóły listy życzeń
      description: Zwraca szczegóły konkretnej listy życzeń wraz z ofertami
      security:
        - bearerAuth: []
      parameters:
        - name: wishlistId
          in: path
          required: true
          schema:
            type: number
      responses:
        200:
          description: Udało się pobrać listę życzeń
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WishlistDetailResponse"
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba dostępu do nie swojej listy życzeń
        404:
          description: Nie znaleziono listy życzeń
    patch:
      tags:
        - wishlist
      summary: Zmień nazwę listy życzeń
      description: Pozwala użytkownikowi zmienić nazwę listy życzeń
      security:
        - bearerAuth: []
      parameters:
        - name: wishlistId
          in: path
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WishlistUpdateRequest"
      responses:
        200:
          description: Udało się zmienić nazwę listy życzeń
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WishlistResponse"
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba modyfikacji nie swojej listy życzeń
        404:
          description: Nie znaleziono listy życzeń
    delete:
      tags:
        - wishlist
      summary: Usuń listę życzeń
      description: Usuwa listę życzeń użytkownika
      security:
        - bearerAuth: []
      parameters:
        - name: wishlistId
          in: path
          required: true
          schema:
            type: number
      responses:
        204:
          description: Udało się usunąć listę życzeń
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba usunięcia nie swojej listy życzeń
        404:
          description: Nie znaleziono listy życzeń

  /wishlists/{wishlistId}/offers:
    post:
      tags:
        - wishlist
      summary: Dodaj ofertę do listy życzeń
      description: Dodaje ofertę do konkretnej listy życzeń
      security:
        - bearerAuth: []
      parameters:
        - name: wishlistId
          in: path
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WishlistAddOfferRequest"
      responses:
        201:
          description: Udało się dodać ofertę do listy życzeń
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba dodania oferty do nie swojej listy życzeń
        404:
          description: Nie znaleziono listy życzeń lub oferty
        409:
          description: Oferta już znajduje się na liście życzeń

  /wishlists/{wishlistId}/offers/{offerId}:
    delete:
      tags:
        - wishlist
      summary: Usuń ofertę z listy życzeń
      description: Usuwa ofertę z konkretnej listy życzeń
      security:
        - bearerAuth: []
      parameters:
        - name: wishlistId
          in: path
          required: true
          schema:
            type: number
        - name: offerId
          in: path
          required: true
          schema:
            type: number
      responses:
        204:
          description: Udało się usunąć ofertę z listy życzeń
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba usunięcia oferty z nie swojej listy życzeń
        404:
          description: Nie znaleziono listy życzeń lub oferty

  /offers/{offerId}/conversations:
    get:
      tags:
        - offer
      summary: Pobierz konwersacje dotyczące oferty
      description: Zwraca wszystkie konwersacje związane z daną ofertą. Tylko dla sprzedawcy.
      security:
        - bearerAuth: []
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: number
      responses:
        200:
          description: Udało się pobrać konwersacje
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ConversationResponse"
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba dostępu do konwersacji nie swojej oferty
        404:
          description: Nie znaleziono oferty

  /conversations:
    post:
      tags:
        - conversation
      summary: Utwórz nową konwersację
      description: Pozwala kupującemu utworzyć konwersację z sprzedającym dotyczącą oferty
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationCreateRequest"
      responses:
        201:
          description: Udało się utworzyć konwersację
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationResponse"
        401:
          description: Użytkownik niezalogowany
        403:
          description: Sprzedawca nie może utworzyć konwersacji do własnej oferty
        404:
          description: Nie znaleziono oferty
        409:
          description: Konwersacja dla tej oferty już istnieje
    get:
      tags:
        - conversation
      summary: Pobierz konwersacje użytkownika
      description: Zwraca wszystkie konwersacje użytkownika (jako kupujący lub sprzedający)
      security:
        - bearerAuth: []
      responses:
        200:
          description: Udało się pobrać konwersacje
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ConversationResponse"
        401:
          description: Użytkownik niezalogowany

  /conversations/{conversationId}:
    get:
      tags:
        - conversation
      summary: Pobierz szczegóły konwersacji
      description: Zwraca szczegóły konwersacji wraz z wiadomościami
      security:
        - bearerAuth: []
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: number
      responses:
        200:
          description: Udało się pobrać konwersację
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationDetailResponse"
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba dostępu do nie swojej konwersacji
        404:
          description: Nie znaleziono konwersacji

  /conversations/{conversationId}/status:
    put:
      tags:
        - conversation
      summary: Zmień status konwersacji
      description: Pozwala sprzedawcy zamknąć lub wznowić konwersację
      security:
        - bearerAuth: []
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationStatusRequest"
      responses:
        200:
          description: Udało się zmienić status konwersacji
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationResponse"
        401:
          description: Użytkownik niezalogowany
        403:
          description: Tylko sprzedawca może zmieniać status konwersacji
        404:
          description: Nie znaleziono konwersacji
        409:
          description: Konwersacja jest już w tym statusie

  /conversations/{conversationId}/messages:
    post:
      tags:
        - message
      summary: Wyślij wiadomość w konwersacji
      description: Pozwala wysłać wiadomość w ramach konwersacji
      security:
        - bearerAuth: []
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageCreateRequest"
      responses:
        201:
          description: Udało się wysłać wiadomość
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba wysłania wiadomości do nie swojej konwersacji
        404:
          description: Nie znaleziono konwersacji
        409:
          description: Konwersacja jest zamknięta
    get:
      tags:
        - message
      summary: Pobierz wiadomości z konwersacji
      description: Zwraca wszystkie wiadomości z konwersacji
      security:
        - bearerAuth: []
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: number
      responses:
        200:
          description: Udało się pobrać wiadomości
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MessageResponse"
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba dostępu do wiadomości z nie swojej konwersacji
        404:
          description: Nie znaleziono konwersacji

  /messages/{messageId}/status:
    put:
      tags:
        - message
      summary: Zmień status wiadomości
      description: Pozwala zmienić status wiadomości (odebrana, przeczytana)
      security:
        - bearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageStatusRequest"
      responses:
        200:
          description: Udało się zmienić status wiadomości
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: Użytkownik niezalogowany
        403:
          description: Tylko odbiorca może zmieniać status wiadomości
        404:
          description: Nie znaleziono wiadomości

  /messages/{messageId}:
    delete:
      tags:
        - message
      summary: Usuń wiadomość
      description: Usuwa wiadomość (zmienia status na DELETED)
      security:
        - bearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: number
      responses:
        204:
          description: Udało się usunąć wiadomość
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba usunięcia nie swojej wiadomości
        404:
          description: Nie znaleziono wiadomości

  /payments:
    get:
      summary: Pobranie listy płatności użytkownika
      tags:
        - payments
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [PENDING, COMPLETED, FAILED, REFUNDED]
      responses:
        "200":
          description: Lista płatności
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPaymentListResponse"

  /payments/{orderId}:
    post:
      summary: Utworzenie płatności
      tags:
        - payments
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orderId
                - paymentProvider
              properties:
                orderId:
                  type: integer
                paymentMethod:
                  type: string
                  enum: [STRIPE, PAYU, PRZELEWY24, BLUESNAP]
      responses:
        "201":
          description: Płatność utworzona
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
        "400":
          description: Niepoprawne dane płatności
        "404":
          description: Zamówienia nie znaleziono

  /payments/{paymentId}:
    get:
      summary: Szczegóły pojedynczej płatności
      tags:
        - payments
      security:
        - bearerAuth: []
      parameters:
        - name: paymentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Szczegóły płatności
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResponse"
        "404":
          description: Płatności nie znaleziono

  /search-histories:
    get:
      summary: Historia wyszukiwań bieżącego użytkownika
      tags:
        - search-histories
      security:
        - bearerAuth: []
      parameters:
        - name: entriesAmount
          in: path
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Lista ostatnich wyszukiwań
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SearchHistoryItem"

    post:
      summary: Zapisanie nowego wyszukiwania
      tags:
        - search-histories
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSearchHistoryRequest"
      responses:
        "201":
          description: Wyszukiwanie zapisane
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchHistoryItem"

    delete:
      summary: Wyczyszczenie całej historii wyszukiwań użytkownika
      tags:
        - search-histories
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Historia wyczyszczona

  /search-histories/{id}:
    delete:
      summary: Usunięcie pojedynczego wpisu z historii
      tags:
        - search-histories
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Wpis usunięty

  /deliveries:
    get:
      summary: Lista dostaw użytkownika (jako kupujący lub sprzedający)
      tags:
        - deliveries
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: role
          schema:
            type: string
            enum: [BUYER, SELLER]
            default: BUYER
        - in: query
          name: status
          schema:
            type: string
            enum: [PENDING, SHIPPED, IN_TRANSIT, DELIVERED, RETURNED, CANCELLED]
      responses:
        "200":
          description: Lista dostaw
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedDeliveryListResponse"

  /deliveries/{deliveryId}:
    get:
      summary: Szczegóły dostawy
      tags:
        - deliveries
      security:
        - bearerAuth: []
      parameters:
        - name: deliveryId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Szczegóły dostawy + numer trackingowy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryResponse"

  /deliveries/methods:
  get:
    summary: Pobierz dostępne metody dostawy
    tags:
      - deliveries
    responses:
      "200":
        description: Dostępne metody dostawy
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/DeliveryMethodDto"

  /deliveries/{deliveryId}/tracking:
    get:
      summary: Śledzenie przesyłki
      tags:
        - deliveries
      parameters:
        - in: path
          name: deliveryId
          required: true
          schema:
            type: string
      responses:
        "200":
        description: Informacje o przesyłce
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeliveryResponse"
        "404":
          description: Zamówienia nie znaleziono

    patch:
      summary: Aktualizacja numeru trackingowego (tylko sprzedawca)
      tags:
        - deliveries
      security:
        - bearerAuth: []
      parameters:
        - name: deliveryId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [trackingNumber, courier]
              properties:
                trackingNumber:
                  type: string
                  example: "123456789PL"
                courier:
                  type: string
                  enum:
                    [INPOST, DPD, DHL, POCZTA_POLSKA, UPS, FEDEX, GLS, OTHER]
      responses:
        "200":
          description: Numer trackingowy zaktualizowany
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryResponse"
      
  /reviews/{userId}:
    post:
      tags:
        - reviews
      summary: Dodaj nową opinię
      description: Pozwala zalogowanemu użytkownikowi dodać opinię o innym użytkowniku.
      security:
        - bearerAuth: []
      parameters:
        - name: UserId
          in: path
          description: ID użytkownika, któremu chcemy wystawić opinie
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
      responses:
        201:
          description: Opinia została dodana pomyślnie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        400:
          description: Błędne dane
        401:
          description: Użytkownik niezalogowany
        403 :
          description: Brak kupionego zamówienia 
        404:
          description: Nie znaleziono użytkownika
        422:
          description: Wykryto naruszenie polityki komunikacji
    get:
      tags:
        - reviews
      summary: Pobierz listę opinii
      description: Pobiera opinie wystawione dla konkretnego użytkownika.
      security:
        - bearerAuth: []
      parameters:
        - name: UserId
          in: path
          description: ID użytkownika, którego opinie chcemy zobaczyć
          required: true
          schema:
            type: number
      responses:
        200:
          description: Lista opinii
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
        401:
          description: Użytkownik niezalogowany
        404:
          description: Nie znaleziono użytkownika

  /reviews/{reviewId}:
    patch:
      tags:
        - reviews
      summary: Modyfikuje istniejącą opinię
      description: Pozwala zalogowanemu użytkownikowi zmodyfikować istniejącą opinię.
      security:
        - bearerAuth: []
      parameters:
        - name: reviewId
          in: path
          description: ID opini, którą chcemy zmodyfikować
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyReviewRequest'
      responses:
        201:
          description: Opinia została pomyślnie zmodyfikowana
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        400:
          description: Błędne dane (np. ocena spoza skali, brak ID ogłoszenia)
        401:
          description: Użytkownik nie jest właścicielem opinii
        404 :
          description: Brak opini to tym id
        422:
          description: Wykryto naruszenie polityki komunikacji

  /reviews/{userId}/reputation:
    get:
      tags:
        - reviews
      summary: Pobierz podsumowanie reputacji użytkownika
      description: Zwraca średnią ocenę oraz liczbę wystawionych opinii.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: number
      responses:
        200:
          description: Statystyki reputacji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReputationSummary'
        401:
          description: Użytkownik niezalogowany
        404:
          description: Nie znaleziono użytkownika

  /bans:
    post:
      tags: 
        - bans
      summary: Nałóż blokadę na użytkownika
      description: Wymaga tokena z rolą admina
      security:
          - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBanRequest'
      responses:
        201:
          description: Blokada pomyślnie nałożona
        401:
          description: Brak roli admina

    get:
      tags:
        - bans
      summary: Pobierz listę blokad
      description: Zwraca listę blokad nałożonych na użytkowników.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: query
          description: ID użytkownika, którego blokady chcemy wyświetlić.
          required: false
          schema:
            type: number
        - name: status
          in: query
          description: Status blokady.
          required: false
          schema:
            type: string
            enum: [active, expired, revoked, all]
            default: active
        - name: date
          in: query
          description: dzień nałożenia
          required: false
          schema:
            type: string
            format: date
      responses:
        200:
          description: Lista blokad
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ban'
        401:
          description: Brak roli admina

  /bans/{banId}:
    get:
      tags: 
        - bans
      summary: Zwróć szczegóły konkretnej blokady
      description: Wymaga tokena z rolą admina
      security:
          - bearerAuth: []
      parameters:
        - name: BanId
          in: path
          description: ID bana, którego chcemy zobaczyć
          required: true
          schema:
            type: number
      responses:
        200:
          description: Ban został znaleziony
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ban'
        401:
          description: Brak roli admina
        404:
          description: Nie znaleziono bana

    patch:
      tags:
        - bans
      summary: Modyfikuj blokade
      description: Wymaga tokena z rolą admina
      security:
          - bearerAuth: []
      parameters:
        - name: BanId
          in: path
          description: ID bana, którego chcemy edytować
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyBanRequest'
      responses:
        201:
          description: Blokada została pomyślnie zmodyfikowana
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ban'
        400:
          description: Błędne dane
        401:
          description: Brak roli admina
        404 :
          description: Brak bana o tym id

    delete:
        tags:
          - bans
        summary: Usuń blokade
        security:
          - bearerAuth: []
        parameters:
          - name: BanId
            in: path
            required: true
            schema:
              type: number
        responses:
          204:
            description: Blokada pomyślnie usunięta
          401:
            description: Brak roli admina
          404:
            description: Blokada nie istnieje

  /appeals:
    post:
      tags:
        - appeals
      summary: Złóż odwołanie od blokady(dla usera)
      security:
        - bearerAuth: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/CreateAppealRequest'
      responses: 
        201: 
          description: Odwołanie przyjęte do rozpatrzenia.
        401:
          description: Użytkownik niezalogowany

    get:
      tags:
        - appeals
      summary: Pobierz listę odwołań
      description: Zwraca listę odwołań od blokad.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: query
          description: ID użytkownika, którego odwołania chcemy wyświetlić.
          required: false
          schema:
            type: number
        - name: status
          in: query
          description: Status blokady.
          required: false
          schema:
            type: string
            enum: [Approved, Rejected, Pending]
            default: Pending
        - name: date
          in: query
          description: dzień nałożenia
          required: false
          schema:
            type: string
            format: date
      responses:
        200:
          description: Lista odwołań
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Appeal'
        401:
          description: Brak roli admina

  /appeals/{appealId}:
    get:
      tags: 
        - appeals
      summary: Pobierz szczegóły pojedynczego odwołania
      security: 
        bearerAuth: []
      parameters:
        - name: AppealId
          in: path
          required: true
          schema: 
            type: number
      responses:
        200:
          description: Appeal został znaleziony
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appeal'
        401:
          description: Brak odpowiedniej roli
        404:
            description: Appeal nie istnieje

    patch:
      tags:
        - appeals
      summary: Modyfikuj odwołanie do blokady
      description: Wymaga tokena z rolą admina
      security:
          - bearerAuth: []
      parameters:
        - name: AppealId
          in: path
          description: ID appeala, którego chcemy edytować
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyAppealRequest'
      responses:
        201:
          description: Odwołanie zostało pomyślnie zmodyfikowane
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appeal'
        400:
          description: Błędne dane
        401:
          description: Brak roli admina
        404 :
          description: Brak appeala o tym id

    delete:
        tags:
          - appeals
        summary: Usuń appeala
        security:
          - bearerAuth: []
        parameters:
          - name: AppealId
            in: path
            required: true
            schema:
              type: number
        responses:
          204:
            description: Appeal pomyślnie usunięta
          401:
            description: Brak roli admina
          404:
            description: Appeal nie istnieje

components:
  schemas:
    PurchaseOfferCreateRequest:
      type: object
      required:
        - offerId
        - offeredPrice
      properties:
        offerId:
          type: number
          description: ID produktu, którego dotyczy negocjacja.
          example: 12
        offeredPrice:
          type: number
          format: double
          description: Proponowana cena zakupu (element negocjacji)
          example: 150.00
        message:
          type: string
          description: Wiadomość do sprzedającego ułatwiająca komunikację.
          example: "Jestem zainteresowany, ale czy cena podlega negocjacji?"
        validUntil:
          type: string
          format: date-time
          description: Czas ważności oferty (istotne dla "czas trwania" w wymaganiach niefunkcjonalnych).

    PurchaseOfferUpdateRequest:
      type: object
      properties:
        offeredPrice:
          type: number
          format: double
          description: Nowa proponowana cena.
        message:
          type: string
          description: Aktualizacja wiadomości do sprzedającego.

    PurchaseOfferListResponse:
      type: array
      items:
        $ref: "#components/schemas/PurchaseOfferResponse"
    PurchaseOfferChangeStatusRequest:
      type: object
      properties:
        status:
          type: string
          enum: [ACCEPTED, REJECTED]

    PurchaseOfferResponse:
      type: object
      properties:
        id:
          type: number
          description: Unikalny identyfikator oferty kupna.
        offerId:
          type: number
        offerName:
          type: string
          description: Nazwa produktu (dla czytelności w interfejsie).
        buyerId:
          type: number
          description: ID użytkownika składającego ofertę.
        sellerId:
          type: number
        offeredPrice:
          type: number
          format: double
        originalPrice:
          type: number
          format: double
          description: Cena pierwotna z ogłoszenia (do porównania).
        message:
          type: string
        status:
          type: string
          description: >
            Aktualny status oferty.
          enum: [PENDING, ACCEPTED, REJECTED, COUNTERED, CANCELLED]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        validUntil:
          type: string
          format: date-time
          description: Data wygaśnięcia oferty.

    CartAddOfferRequest:
      type: object
      properties:
        offerId:
          type: number
          description: Unikalny identyfikator oferty.
        count:
          type: number
          description: Liczba tych samych ofert do dodania do koszyka.

    CartItemResponse:
      type: object
      properties:
        id:
          type: number
          description: Unikalny identyfikator unikalnej oferty w koszyku.
        offerId:
          type: number
        count:
          type: number
          description: Liczba ofert w koszyku o tym samym identyfikatorze.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CartItemCountRequest:
      type: object
      properties:
        count:
          type: number
          description: Żądana liczba ofert.

    CartResponse:
      type: array
      items:
        $ref: "#components/schemas/CartOfferResponse"

    CartTotalPriceResponse:
      type: object
      properties:
        totalPrice:
          type: number
          description: Sumaryczna cena wszystkich ofert z koszyka

    UserRegisterRequest:
      type: object
      properties:
        email:
          type: string
          description: Email użytkownika
        password:
          type: string
          description: Hasło
        name:
          type: string
          description: Imię
        surname:
          type: string
          description: Nazwisko
        birth_date:
          type: string
          format: date-time
          description: Data urodzenia
        company_name:
          type: string
          description: Nazwa firmy

    UserResponse:
      type: object
      properties:
        userId:
          type: number
          description: Unikalny identyfikator użytkownika
        email:
          type: string
          description: Email użytkownika
        password:
          type: string
          description: Zakodowane hasło
        name:
          type: string
          description: Imię
        surname:
          type: string
          description: Nazwisko
        birth_date:
          type: string
          format: date-time
          description: Data urodzenia
        company_name:
          type: string
          description: Nazwa firmy
        status:
          type: string
          description: Status zarejestrowanego użytkownika
          enum: [INACTIVE, ACTIVE, BANNED]

    UserLoginRequest:
      type: object
      properties:
        email:
          type: string
          description: Email użytkownika
        password:
          type: string
          description: Zakodowane hasło

    UserLoginResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string

    UserEmailVerifyRequest:
      type: object
      properties:
        email:
          type: string
          description: Email użytkownika

    UserPasswordVerifyRequest:
      type: object
      properties:
        password:
          type: string
          description: Hasło użytkownika

    UserGetResponse:
      type: object
      properties:
        userId:
          type: number
          description: Unikalny identyfikator użytkownika
        email:
          type: string
          description: Email użytkownika
        name:
          type: string
          description: Imię
        surname:
          type: string
          description: Nazwisko
        birth_date:
          type: string
          format: date-time
          description: Data urodzenia
        company_name:
          type: string
          description: Nazwa firmy
        status:
          type: string
          description: Status zarejestrowanego użytkownika
          enum: [ACTIVE, BANNED]

    UserEditRequest:
      type: object
      properties:
        new_email:
          type: string
          description: Email użytkownika
        new_password:
          type: string
          description: Hasło
        name:
          type: string
          description: Imię
        surname:
          type: string
          description: Nazwisko
        birth_date:
          type: string
          format: date-time
          description: Data urodzenia
        new_company_name:
          type: string
          description: Nazwa firmy

    OfferSearchCreateRequest:
      type: object
      properties:
        filters:
          type: array
          items:
            type: object
            properties:
              categoryName:
                type: string
              propertyFilters:
                type: array
                items:
                  type: object
                  properties:
                    propertyType:
                      type: string
                      enum: [NUMERIC, BOOLEAN]
                    propertyName:
                      type: string
                    minValue:
                      type: number
                    maxValue:
                      type: number
                    isTrue:
                      type: boolean
        searchPhrase:
          type: string
        skipPromoted:
          type: boolean
    PropertyResponse:
      type: object
      properties:
        propertyName:
          type: string
        propertyType:
          type: string
          enum: [NUMERIC, BOOLEAN]

    CategoryResponse:
      type: object
      properties:
        categoryName:
          type: string
        properties:
          type: array
          items:
            $ref: "#/components/schemas/PropertyResponse"

    OfferResponse:
      type: object
      properties:
        offerId:
          type: number
        providerType:
          type: string
          enum: [INTERNAL, EXTERNAL]
        providerUrl:
          type: string
        imageUrls:
          type: array
          items:
            type: string
        description:
          type: string
        price:
          type: number
        postedBy:
          type: object
          properties:
            name:
              type: string
            surname:
              type: string
        categories:
          type: array
          items:
            $ref: "#/components/schemas/CategoryResponse"
        status:
          type: string
          enum: [DRAFT, ACTIVE, PROMOTED, DELETED, SOLD]
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
    OfferCreateRequest:
      type: object
      properties:
        providerType:
          type: string
          enum: [INTERNAL, EXTERNAL]
        providerUrl:
          type: string
          description: Opcjonalne
        imageUrls:
          type: array
          items:
            type: string
        description:
          type: string
        price:
          type: number
        categories:
          type: array
          items:
            $ref: "#/components/schemas/CategoryResponse"
    OfferUpdateRequest:
      type: object
      properties:
        imageUrls:
          type: array
          items:
            type: string
        description:
          type: string
        price:
          type: number
        categories:
          type: array
          items:
            $ref: "#/components/schemas/CategoryResponse"
    WishlistCreateRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Nazwa listy życzeń

    WishlistUpdateRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Nowa nazwa listy życzeń

    WishlistResponse:
      type: object
      properties:
        wishlistId:
          type: number
        name:
          type: string

    WishlistDetailResponse:
      type: object
      properties:
        wishlistId:
          type: number
        name:
          type: string
        offers:
          type: array
          items:
            type: object
            properties:
              offerId:
                type: number
              offerName:
                type: string
              price:
                type: number
              imageUrl:
                type: string

    WishlistAddOfferRequest:
      type: object
      required:
        - offerId
      properties:
        offerId:
          type: number

    ConversationCreateRequest:
      type: object
      required:
        - offerId
      properties:
        offerId:
          type: number

    ConversationStatusRequest:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [OPEN, CLOSED]

    ConversationResponse:
      type: object
      properties:
        conversationId:
          type: number
        offerId:
          type: number
        offerName:
          type: string
        buyerId:
          type: number
        buyerName:
          type: string
        sellerId:
          type: number
        sellerName:
          type: string
        status:
          type: string
          enum: [OPEN, CLOSED, CLOSED_BY_SYSTEM]

    ConversationDetailResponse:
      type: object
      properties:
        conversationId:
          type: number
        offerId:
          type: number
        offerName:
          type: string
        buyerId:
          type: number
        buyerName:
          type: string
        sellerId:
          type: number
        sellerName:
          type: string
        status:
          type: string
          enum: [OPEN, CLOSED, CLOSED_BY_SYSTEM]
        messages:
          type: array
          items:
            $ref: "#/components/schemas/MessageResponse"

    MessageCreateRequest:
      type: object
      required:
        - content
      properties:
        content:
          type: string
          description: Treść wiadomości

    MessageStatusRequest:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [RECEIVED, READ]

    MessageResponse:
      type: object
      properties:
        messageId:
          type: number
        conversationId:
          type: number
        senderId:
          type: number
        senderName:
          type: string
        content:
          type: string
        status:
          type: string
          enum: [SENT, RECEIVED, READ, DELETED]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PaymentResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        orderId: { type: string, format: uuid }
        amount: { type: number, format: double }
        currency: { type: string, example: "PLN" }
        status: { type: string, enum: [PENDING, COMPLETED, FAILED, REFUNDED] }
        provider: { type: string, enum: [STRIPE, PAYU, PRZELEWY24, BLUESNAP] }
        providerPaymentId: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        completedAt: { type: string, format: date-time, nullable: true }

    PaginatedPaymentListResponse:
      allOf:
        - $ref: "#/components/schemas/PaginatedResponse"
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/PaymentResponse"

    SearchHistoryItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        query: { type: string, example: "iphone 14 pro" }
        filters:
          type: object
          nullable: true
          description: Zachowane filtry (cena, kategoria, lokalizacja itp.)
        createdAt: { type: string, format: date-time }

    CreateSearchHistoryRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          maxLength: 255
        filters:
          type: object
          nullable: true

    PaginatedResponse:
      type: object
      required:
        - page
        - pageSize
        - totalElements
        - totalPages
      properties:
        page:
          type: integer
          minimum: 1
          example: 1
        pageSize:
          type: integer
          minimum: 1
          maximum: 100
          example: 20
        totalElements:
          type: integer
          example: 157
        totalPages:
          type: integer
          example: 8

    DeliveryResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        orderId: { type: string, format: uuid }
        status:
          type: string
          enum: [PENDING, SHIPPED, IN_TRANSIT, DELIVERED, RETURNED, CANCELLED]
        trackingNumber: { type: string, nullable: true }
        courier:
          type: string
          enum: [INPOST, DPD, DHL, POCZTA_POLSKA, UPS, FEDEX, GLS, OTHER, NONE]
          nullable: true
        shippedAt: { type: string, format: date-time, nullable: true }
        deliveredAt: { type: string, format: date-time, nullable: true }
        address:
          type: string
        sellerId:
          type: number
        buyerId:
          type: number

    PaginatedDeliveryListResponse:
      allOf:
        - $ref: "#/components/schemas/PaginatedResponse"
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/DeliveryResponse"

    DeliveryMethodDto:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        estimatedMinDays:
          type: integer
        estimatedMaxDays:
          type: integer
        supportedLocations:
          type: array
          items:
            type: string

    CreateReviewRequest:
      type: object
      required:
        - buyerId
        - rating
      properties:
        buyerId:
          type: number
          description: ID użytkownika, który oceniał (kupujący)
        rating:
          type: integer
          minimum: 1
          maximum: 5
          description: Ocena w skali 1-5
          example: 4
        comment:
          type: string
          description: Treść opinii (opcjonalna)
          example: "Towar zgodny z opisem. Polecam."

    ModifyReviewRequest:
      type: object
      properties:
        reviewId:
          type: number
          description: ID opini
        buyerId:
          type: number
          description: ID wystawiającego opinie
        rating:
          type: integer
          minimum: 1
          maximum: 5
          description: Ocena w skali 1-5
          example: 4
        comment:
          type: string
          description: Treść opinii (opcjonalna)
          example: "Towar zgodny z opisem. Polecam."

    Review:
      type: object
      properties:
        id:
          type: number
        authorId:
          type: number
          description: ID autora opinii
        authorName:
          type: string
          description: Imię autora (do wyświetlenia na liście)
          example: "Jan K."
        targetUserId:
          type: number
        rating:
          type: integer
          example: 4
        comment:
          type: string
          example: "Wszystko super."
        createdAt:
          type: string
          format: date-time

    ReputationSummary:
      type: object
      properties:
        userId:
          type: number
        averageRating:
          type: number
          format: float
          description: Średnia ocena (np. 4.8)
          example: 4.8
        totalReviews:
          type: integer
          description: Łączna liczba opinii
          example: 152
        distribution:
          type: object
          description: Rozkład ocen (ile piątek, ile czwórek itd.)
          properties:
            5_stars:
              type: integer
              example: 140
            4_stars:
              type: integer
            3_stars:
              type: integer
              example: 12
            2_stars:
              type: integer
            1_stars:
              type: integer

    CreateBanRequest:
      type: object
      description: Dane wymagane do nałożenia nowej blokady na użytkownika.
      required:
        - userId
        - reason
        - adminId
      properties:
        userId:
          type: number
          description: ID użytkownika, który ma zostać zablokowany.
          example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
        adminId:
          type: number
          description: ID moderatora nakładającego blokadę.
          example: "00a11b22-c3d4-55e6-77f8-9900aabbccdd"
        reason:
          type: string
          description: Powód blokady
          example: "Wulgarny język"
        expirationDate:
          type: string
          format: date-time
          nullable: true
          description: Data, po której blokada wygaśnie. NULL oznacza blokadę stałą.
          example: "2026-06-01T00:00:00Z"

    Ban:
      type: object
      description: Pełna reprezentacja pojedynczej blokady nałożonej na użytkownika.
      properties:
        banId:
          type: number
          description: Unikalny identyfikator blokady.
        userId:
          type: number
        adminId:
          type: number
        reason:
          type: string
        issueDate:
          type: string
          format: date-time
          description: Data i czas nałożenia blokady.
          example: "2025-11-24T15:00:00Z"
        expirationDate:
          type: string
          format: date-time
          nullable: true
        isActive:
          type: boolean
          description: Czy blokada jest obecnie aktywna.
          example: true
    
    ModifyBanRequest:
      type: object
      description: Dane wymagane do edycji blokady na użytkownika.
      required:
        - adminId
      properties:
        adminId:
          type: number
          description: ID moderatora modyfikującego blokadę.
          example: "00a11b22-c3d4-55e6-77f8-9900aabbccdd"
        reason:
          type: string
          description: Powód blokady
          example: "Wulgarny język"
        expirationDate:
          type: string
          format: date-time
          nullable: true
          description: Data, po której blokada wygaśnie. NULL oznacza blokadę stałą.
          example: "2026-06-01T00:00:00Z"

    CreateAppealRequest:
      type: object
      description: Dane wymagane do złożenia apepeala.
      required:
        - banId
        - justification
      properties:
        banId:
          type: number
          description: ID konkretnej blokady, od której użytkownik się odwołuje.
          example: "00a11b22-c3d4-55e6-77f8-9900aabbccdd"
        justification:
          type: string
          description: Szczegółowe uzasadnienie, dlaczego blokada powinna zostać zdjęta.
          example: "Wystawiłem to ogłoszenie przez pomyłkę, natychmiast je usunąłem po zorientowaniu się w błędzie."

    Appeal:
      type: object
      description: Pełna reprezentacja odwołania.
      properties:
        appealId:
          type: number
          example: 101
        userId:
          type: number
          example: 502
        banId:
          type: number
          example: 102
        justification:
          type: string
          example: "Blokada została nałożona niesłusznie. Ogłoszenie dotyczyło roweru, nie jest to przedmiot zakazany. Proszę o weryfikację."
        status:
          type: string
          enum: [Approved, Rejected, Pending]
          example: Pending
        issueDate:
          type: string
          format: date-time
          description: Data złożenia odwołania.
          example: "2026-06-01T00:00:00Z"
        adminId:
          type: number
          nullable: true
          description: ID administratora, który rozpatrzył odwołanie.
          example: null
        decisionReason:
          type: string
          nullable: true
          description: Uzasadnienie decyzji administratora.
          example: null

    ModifyAppealRequest:
      type: object
      description: Dane wymagane do edycji apepeala.
      required:
        - adminId
      properties:
        adminId:
          type: number
          description: ID moderatora edytującego blokadę.
          example: "00a11b22-c3d4-55e6-77f8-9900aabbccdd"
        decisionReason:
          type: string
          example: "bo tak"
        status:
          type: string
          enum: [Approved, Rejected, Pending]
          example: Rejected

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
