openapi: 3.0.3
info:
  title: DealMatcher API
  version: 1.0.0
servers:
  - url: https://api.dealmatcher.com/v1
tags:
  - name: purchase-offer
    description: Oferty kupna
  - name: cart
    description: Koszyk
  - name: user
    description: Użytkownik
  - name: offer
    description: Oferty wystawione w aplikacji
  - name: category
    description: Kategorie oferty i ich właściwości
paths:
  /categories:
    get:
      tags:
        - category
      summary: Pobierz wszystkie dostępne kategorie
      description: >
        Umożliwia pobranie wszystkich dostępnych kategorii w systemie
      responses:
        200:
          description: Udało się pobrać wszystkie kategorie
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponse"
  /categories/{categoryName}/properties:
    get:
      tags:
        - category
      summary: Pobierz właściwości danej kategorii
      description: >
        Umożliwia pobranie wszystkich właściwości danej kategorii
      parameters:
        - name: categoryName
          required: true
          in: path
          schema:
            type: string
      responses:
        200:
          description: Udało się pobrać właściwości
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PropertyResponse"
  /offers/search:
    post:
      tags:
        - offer
      summary: Utwórz obiekt wyszukiwania ofert kupna
      description: >
        Pozwala utworzyć zapytanie wyszukiwania ofert kupna, gotowych do swipowania.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#components/schemas/OfferSearchCreateRequest"
      responses:
        201:
          description: Wynik zapytania został pomyślnie utworzony
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    offers:
                      $ref: "#/components/schemas/OfferResponse"
                    adUrls:
                      type: array
                      items:
                        type: string
        204:
          description: Nie znaleziono żadnych ofert
        400:
          description: Błąd w podanych filtrach - niepoprawna kategoria lub niepoprawne property
        403:
          description: Próba pominięcia ofert promowanych niebędąc userem premium
  /offers:
    post:
      tags:
        - offer
      summary: Utwórz nową ofertę
      description: >
        Pozwala utworzyć nową ofertę w systemie, oferta jest utworzona ze statusem DRAFT, dopóki nie przejdzie walidacji
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OfferCreateRequest"
      responses:
        201:
          description: Udało się utworzyć ofertę
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OfferResponse"
        401:
          description: Użytkownik nie jest zalogowany
        403:
          description: Użytkownik jest zbanowany
  /offers/{offerId}:
    get:
      tags:
        - offer
      summary: Pobierz szczegóły oferty
      description: >
        Pozwala pobrać szczegóły konkretnej oferty
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: number
      responses:
        200:
          description: Udało się pobrać ofertę
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OfferResponse"
        403:
          description: Próba pobrania nieaktywnej oferty, jeśli niezalogowany
        404:
          description: Nie znaleziono oferty
    patch:
      tags:
        - offer
      summary: Zmodyfikuj ofertę
      description: >
        Pozwala zmodyfikować istniejącą ofertę. Zmienia jej status na draft do walidacji
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: number
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OfferUpdateRequest"
      responses:
        200:
          description: Udało się zmodyfikować ofertę
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OfferResponse"
        401:
          description: Niezalogowany użytkownik
        403:
          description: Próba modyfikacji nieswojej oferty
        404:
          description: Nie znaleziono oferty
        409:
          description: Oferta od zewnętrznego dostawcy
    delete:
      tags:
        - offer
      summary: Usuń ofertę
      description: >
        Umożliwia sprzedawcy i adminowi usunięcie oferty z systemu (soft delete)
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: number
      security:
        - bearerAuth: []
      responses:
        204:
          description: Udało się skasować oferte
        401:
          description: Niezalogowany user
        403:
          description: Próba usunięcia zasobu, do którego się nie ma dostępu
        409:
          description: Oferta już usunięta
  /offers/{offerId}/status:
    put:
      tags:
        - offer
      summary: Zmień status oferty
      description: >
        Pozwala zmienić status oferty na ACTIVE (Adminowi), PROMOTED (Userowi) lub SOLD (Userowi)
      parameters:
        - name: offerId
          required: true
          in: path
          schema:
            type: number
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [ACTIVE, PROMOTED, SOLD]
      responses:
        200:
          description: Zmieniono status oferty
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OfferResponse"
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba modyfikacji nieswojego zasobu, próba walidacji swojej własnej oferty
        404:
          description: Nie znaleziono takiej oferty
  /offers/{offerId}/purchaseOffers:
    get:
      tags:
        - offer
      summary: Pobierz oferty kupna danej oferty
      description: Pozwala sprzedawcy pobrać wszystkie oferty kupna jego oferty
      parameters:
        - name: offerId
          required: true
          in: path
          schema:
            type: number
      security:
        - bearerAuth: []
      responses:
        200:
          description: Pobrano oferty kupna
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PurchaseOfferResponse"
        401:
          description: Użytkownik niezalogowany
        403:
          description: Próba dostępu do nieswojego zasobu
        404:
          description: Nie znaleziono oferty o podanym id
  /offers/{offerId}/purchase:
    post:
      tags:
        - offer
      summary: Utwórz nowy zakup
      description: >
        Pozwala utworzyć nowy zakup do danej oferty. Przekierowuje do płatności
      parameters:
        - name: offerId
          required: true
          in: path
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentType:
                  type: string
                deliveryType:
                  type: string
      security:
        - bearerAuth: []
      responses:
        303:
          description: Przekierowanie do dostawcy płatności
        403:
          description: Użytkownik zbanowany
        409:
          description: Oferta nie jest aktywna do sprzedaży
  /offers/{offerId}/conversations:
    get:
      tags:
        - offer
      summary: Niech ktoś kto robi konfy to zrobi
      responses:
        200:
          description: "OK"
  /purchase-offers:
    post:
      tags:
        - purchase-offer
      summary: Utwórz nową ofertę kupna (złożenie propozycji sprzedającemu)
      description: >
        Pozwala zalogowanemu kupującemu złożyć ofertę kupna konkretnego produktu sprzedającemu,
        w celu wynegocjowania ceny.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchaseOfferCreateRequest"
      responses:
        201:
          description: Oferta kupna została pomyślnie utworzona.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOfferResponse"
        400:
          description: Błędne dane wejściowe.
        401:
          description: Użytkownik nie jest zalogowany.
        404:
          description: Nie znaleziono oferty

    get:
      tags:
        - purchase-offer
      summary: Pobierz listę ofert kupna
      description: >
        Pobiera listę ofert kupna do wyświetlenia w konwersacji. Z tego powodu filtruje po id oferty i id buyera. Dla sprzedawcy i dla kupującego
      security:
        - bearerAuth: []
      parameters:
        - name: offerId
          in: query
          description: Unikalny identyfikator oferty.
          required: true
          schema:
            type: number
        - name: buyerId
          in: query
          description: Unikalny identyfikator kupującego.
          required: true
          schema:
            type: number
      responses:
        "200":
          description: Lista ofert kupna.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOfferListResponse"
        "401":
          description: Niezalogowany użytkownik
        "403":
          description: Próba dostępu do nie swoich zasobów
        "404":
          description: Nie znaleziono oferty lub kupującego

  # /purchase-offers/{offerId}:
  #   get:
  #     tags:
  #       - purchase-offer
  #     summary: Szczegóły oferty kupna
  #     description: Pobiera wszystkie oferty kupna dla danego ogłoszenia. Tylko dla sprzedawcy
  #     security:
  #       - bearerAuth: []
  #     parameters:
  #       - name: offerId
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #           format: uuid
  #     responses:
  #       "200":
  #         description: Szczegóły oferty.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/PurchaseOfferListResponse"
  #       "401":
  #         description: Użytkownik niezalogowany
  #       "403":
  #         description: Dostęp nie do swojego zasobu - nie jako sprzedawca
  #       "404":
  #         description: Oferta nie znaleziona.

  /purchase-offers/{purchaseOfferId}:
    delete:
      tags:
        - purchase-offer
      summary: Wycofaj/Anuluj ofertę kupna
      description: >
        Pozwala kupującemu zrezygnować z oferty w każdej chwili przed jej finalizacją.
      security:
        - bearerAuth: []
      parameters:
        - name: purchaseOfferId
          in: path
          required: true
          schema:
            type: number
      responses:
        "204":
          description: Oferta została wycofana (anulowana).
        "401":
          description: Użytkownik niezalogowany
        "404":
          description: Nie znaleziono oferty
        "409":
          description: Nie można wycofać oferty w obecnym statusie (np. już zakończona).
    patch:
      tags:
        - purchase-offer
      summary: Kontruj ofertę
      description: >
        Pozwala sprzedającemu skontrować ofertę kupującego. Zmienia status na countered
      security:
        - bearerAuth: []
      parameters:
        - name: purchaseOfferId
          in: path
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchaseOfferUpdateRequest"
      responses:
        "200":
          description: "Oferta została skontrowana"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOfferResponse"
        "401":
          description: "Użytkownik niezalogowany"
        "403":
          description: "Próba dostępu do nie swojego zasobu"
        "409":
          description: "Oferta jest już w statusie COUNTERED"
        "404":
          description: "Nie znaleziono oferty kupna"
  /purchase-offers/{purchaseOfferId}/status:
    put:
      tags:
        - purchase-offer
      summary: Zaakceptuj lub odrzuć ofertę kupna
      description: >
        Pozwala sprzedającemu zaakceptować/odrzucić ofertę kupującego, lub kupującemu kontrę sprzedającego
      security:
        - bearerAuth: []
      parameters:
        - name: purchaseOfferId
          in: path
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchaseOfferChangeStatusRequest"

      responses:
        "200":
          description: "Oferta została zaakceptowana"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOfferResponse"
        "401":
          description: "Użytkownik niezalogowany"
        "403":
          description: "Zabroniona akcja - np akceptacja własnej oferty przez kupującego, lub własnej kontry przez sprzedającego"
        "409":
          description: "Oferta jest w niepoprawnym statusie, np ACCEPTED lub REJECTED"
        "404":
          description: "Nie znaleziono oferty kupna"
  /cart:
    post:
      tags:
        - cart
      summary: Dodaj nową ofertę do koszyka
      description: Pozwala dodać użytkownikowi ofertę do swojego koszyka.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartAddOfferRequest"
      responses:
        "201":
          description: "Dodano ofertę do koszyka"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartOfferResponse"
        "401":
          description: "Użytkownik niezalogowany"
        "403":
          description: "Użytkownik dodaje ofertę do nie swojego koszyka"
        "404":
          description: "Nie znaleziono oferty"
        "409":
          description: "Oferta znajduje się już w koszyku"
    get:
      tags:
        - cart
      summary: "Zwróć listę ofert w koszyku użytkownika"
      description: "Zwraca listę wszystkich ofert o unikalnym identyfikatorze oraz ich liczebności"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Zwrócono listę ofert w koszyku"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartOfferResponse"
        "401":
          description: "Użytkownik niezalogowany"
        "403":
          description: "Użytkownik chce pobrać oferty z nie swojego koszyka"
        "404":
          description: "Nie znaleziono koszyka bądź użytkownika"
  /cart/total-price:
    get:
      tags:
        - cart
      summary: "Zwróć sumaryczną cenę ofert z koszyka"
      description: "Oblicza sumę cen wszystkich ofert występujących w koszyku i ją zwraca w odpowiedzi"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Zwrócono cenę wszystkich ofert z koszyka"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartTotalPriceResponse"
        "401":
          description: "Użytkownik niezalogowany"
        "403":
          description: "Użytkownik chce pobrać cenę ofert z nie swojego koszyka"
        "404":
          description: "Nie znaleziono koszyka bądź użytkownika"
  /cart/{offerInCartId}/change-count/{count}:
    post:
      tags:
        - cart
      summary: Zmień liczbę tych samych ofert w koszyku
      description: Pozwala zmienić liczbę ofert o tym samym identyfikatorze istniejących w koszyku.
      security:
        - bearerAuth: []
      parameters:
        - name: offerInCartId
          in: path
          required: true
          schema:
            type: number
        - name: count
          in: path
          required: true
          schema:
            type: number
      responses:
        "201":
          description: "Zmieniono liczbę tych samych ofert w koszyku"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartOfferResponse"
        "400":
          description: "Podana liczba count jest spoza dopuszczalnego zakresu"
        "401":
          description: "Użytkownik niezalogowany"
        "403":
          description: "Użytkownik zmienia ofertę z nie swojego koszyka"
        "404":
          description: "Nie znaleziono oferty"
  /cart/{offerInCartId}:
    delete:
      tags:
        - cart
      summary: Usuwa ofertę z koszyka
      description: Na podstawie identyfikatora oferty w koszyku usuwa jego rekord z bazy danych
      security:
        - bearerAuth: []
      parameters:
        - name: offerInCartId
          in: path
          required: true
          schema:
            type: number
      responses:
        "204":
          description: "Usunięto ofertę z koszyka"
        "401":
          description: "Użytkownik niezalogowany"
        "403":
          description: "Użytkownik chce usunąć ofertę z nie swojego koszyka"
        "404":
          description: "Nie znaleziono oferty w koszyku"
  /user/register:
    post:
      tags:
        - user
      summary: Zarejestruj użytkownika
      description: Sprawdza, czy podany email znajduje się w bazie użytkowników, jeśli nie dodaje go do bazy danych razem z pozostałymi, jeżeli zostały poprawnie zwalidowane. Ustawia stan użytkownika na nieaktywny.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRegisterRequest"
      responses:
        "201":
          description: "Pomyślnie zarejestrowano użytkownika"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "403":
          description: "Email użytkownika występuje w bazie danych"
        "409":
          description: "Wprowadzono niepoprawne dane do rejestracji"
  /user/login:
    get:
      tags:
        - user
      summary: Zaloguj użytkownika
      description: Ocenia, czy dane logowania są poprawne oraz czy użytkownik nie jest zbanowany. Jeśli tak, przyznaje mu w sesji token JWT.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserLoginRequest"
      responses:
        "200":
          description: "Pomyślnie zalogowano użytkownika"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserLoginResponse"
        "403":
          description: "Użytkownik został zbanowany"
        "409":
          description: "Wprowadzono niepoprawne dane logowania"
  /user/logout:
    get:
      tags:
        - user
      summary: Wyloguj użytkownika
      description: Usuwa token JWT z sesji użytkownika.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Pomyślnie zalogowano użytkownika"
        "403":
          description: "Użytkownik nie jest zalogowany"
        "409":
          description: "Użytkownik został już wylogowany"
  /user/verify:
    post:
      tags:
        - user
      summary: Zweryfikuj email użytkownika
      description: Po poprawnym zweryfikowaniu emaila ustawia jego stan na aktywny.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserVerifyRequest"
      responses:
        "201":
          description: "Pomyślnie wylogowano użytkownika"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "403":
          description: "Użytkownik nie jest zalogowany"
        "404":
          description: "Nie znaleziono emaila w bazie"
        "409":
          description: "Email użytkownika został już zweryfikowany"
  /user/{userId}:
    get:
      tags:
        - user
      summary: Pobierz szczegóły użytkownika
      description: Otrzymuje wszystkie informacje o danym użytkowniku. Tylko dla administratora.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: number
      responses:
        "200":
          description: "Zbanowano użytkownika"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "403":
          description: "Użytkownik nie jest administratorem"
        "404":
          description: "Nie znaleziono użytkownika o podanym identyfikatorze w bazie"
    delete:
      tags:
        - user
      summary: Usuń użytkownika
      description: Usuwa użytkownika z bazy danych wraz z wrażliwymi danymi. Tylko dla administratora.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: number
      responses:
        "204":
          description: "Usunięto użytkownika"
        "403":
          description: "Użytkownik nie jest administratorem"
        "404":
          description: "Nie znaleziono użytkownika o podanym identyfikatorze w bazie"
  /user/{userId}/ban:
    post:
      tags:
        - user
      summary: Nadaj użytkownikowi ban
      description: Ustawia stan użytkownika na zbanowanego. Tylko dla administratora.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: number
      responses:
        "201":
          description: "Zbanowano użytkownika"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "403":
          description: "Użytkownik nie jest administratorem"
        "404":
          description: "Nie znaleziono użytkownika o podanym identyfikatorze w bazie"
        "409":
          description: "Użytkownik został już zbanowany"
  /users/me/offers:
    get:
      tags:
        - user
      summary: Pobierz wystawione przeze mnie oferty
      description: >
        Umożliwia pobranie wystawionych przez usera tokena (identity z tokena)
      security:
        - bearerAuth: []
      responses:
        200:
          description: Udało się pobrać oferty usera
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#components/schemas/OfferResponse"
        204:
          description: Brak ofert u usera
        401:
          description: Użytkownik niezalogowany
        403:
          description: Użytkownik zbanowany
components:
  schemas:
    PurchaseOfferCreateRequest:
      type: object
      required:
        - offerId
        - offeredPrice
      properties:
        offerId:
          type: number
          description: ID produktu, którego dotyczy negocjacja.
          example: 12
        offeredPrice:
          type: number
          format: double
          description: Proponowana cena zakupu (element negocjacji)
          example: 150.00
        message:
          type: string
          description: Wiadomość do sprzedającego ułatwiająca komunikację.
          example: "Jestem zainteresowany, ale czy cena podlega negocjacji?"
        validUntil:
          type: string
          format: date-time
          description: Czas ważności oferty (istotne dla "czas trwania" w wymaganiach niefunkcjonalnych).

    PurchaseOfferUpdateRequest:
      type: object
      properties:
        offeredPrice:
          type: number
          format: double
          description: Nowa proponowana cena.
        message:
          type: string
          description: Aktualizacja wiadomości do sprzedającego.

    PurchaseOfferListResponse:
      type: array
      items:
        $ref: "#components/schemas/PurchaseOfferResponse"
    PurchaseOfferChangeStatusRequest:
      type: object
      properties:
        status:
          type: string
          enum: [ACCEPTED, REJECTED]

    PurchaseOfferResponse:
      type: object
      properties:
        id:
          type: number
          description: Unikalny identyfikator oferty kupna.
        offerId:
          type: number
        offerName:
          type: string
          description: Nazwa produktu (dla czytelności w interfejsie).
        buyerId:
          type: number
          description: ID użytkownika składającego ofertę.
        sellerId:
          type: number
        offeredPrice:
          type: number
          format: double
        originalPrice:
          type: number
          format: double
          description: Cena pierwotna z ogłoszenia (do porównania).
        message:
          type: string
        status:
          type: string
          description: >
            Aktualny status oferty.
          enum: [PENDING, ACCEPTED, REJECTED, COUNTERED, CANCELLED]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        validUntil:
          type: string
          format: date-time
          description: Data wygaśnięcia oferty.

    CartAddOfferRequest:
      type: object
      properties:
        offerId:
          type: number
          description: Unikalny identyfikator oferty.
        count:
          type: number
          description: Liczba tych samych ofert do dodania do koszyka.

    CartOfferResponse:
      type: object
      properties:
        id:
          type: number
          description: Unikalny identyfikator unikalnej oferty w koszyku.
        offerId:
          type: number
        count:
          type: number
          description: Liczba ofert w koszyku o tym samym identyfikatorze.
        userId:
          type: number
          description: Unikalny identyfikator użytkownika składającego ofertę z koszyka.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        validUntil:
          type: string
          format: date-time
          description: Data wygaśnięcia oferty.

    CartOfferListResponse:
      type: array
      items:
        $ref: "#components/schemas/CartOfferResponse"

    CartTotalPriceResponse:
      type: object
      properties:
        totalPrice:
          type: number
          description: Sumaryczna cena wszystkich ofert z koszyka

    UserRegisterRequest:
      type: object
      properties:
        email:
          type: string
          description: Email użytkownika
        password:
          type: string
          description: Hasło
        name:
          type: string
          description: Imię
        surname:
          type: string
          description: Nazwisko
        birth_date:
          type: string
          format: date-time
          description: Data urodzenia

    UserResponse:
      type: object
      properties:
        userId:
          type: number
          description: Unikalny identyfikator użytkownika
        email:
          type: string
          description: Email użytkownika
        password:
          type: string
          description: Zakodowane hasło
        name:
          type: string
          description: Imię
        surname:
          type: string
          description: Nazwisko
        birth_date:
          type: string
          format: date-time
          description: Data urodzenia
        status:
          type: string
          description: Status zarejestrowanego użytkownika
          enum: [INACTIVE, ACTIVE, BANNED]

    UserLoginRequest:
      type: object
      properties:
        email:
          type: string
          description: Email użytkownika
        password:
          type: string
          description: Zakodowane hasło

    UserLoginResponse:
      type: object
      properties:
        tokenJWT:
          type: string
          description: Token JWT używany do autoryzacji kolejnych żądań
        expires_in:
          type: number
          description: Data wygaśnięcia tokena w sesji

    UserVerifyRequest:
      type: object
      properties:
        email:
          type: string
          description: Email użytkownika
        verify_at:
          type: string
          format: date-time
          description: Data, kiedy poddano email weryfikacji
    OfferSearchCreateRequest:
      type: object
      properties:
        filters:
          type: array
          items:
            type: object
            properties:
              categoryName:
                type: string
              propertyFilters:
                type: array
                items:
                  type: object
                  properties:
                    propertyType:
                      type: string
                      enum: [NUMERIC, BOOLEAN]
                    propertyName:
                      type: string
                    minValue:
                      type: number
                    maxValue:
                      type: number
                    isTrue:
                      type: boolean
        searchPhrase:
          type: string
        skipPromoted:
          type: boolean
    PropertyResponse:
      type: object
      properties:
        propertyName:
          type: string
        propertyType:
          type: string
          enum: [NUMERIC, BOOLEAN]

    CategoryResponse:
      type: object
      properties:
        categoryName:
          type: string
        properties:
          type: array
          items:
            $ref: "#/components/schemas/PropertyResponse"

    OfferResponse:
      type: object
      properties:
        offerId:
          type: number
        providerType:
          type: string
          enum: [INTERNAL, EXTERNAL]
        providerUrl:
          type: string
        imageUrls:
          type: array
          items:
            type: string
        description:
          type: string
        price:
          type: number
        postedBy:
          type: object
          properties:
            name:
              type: string
            surname:
              type: string
        categories:
          type: array
          items:
            $ref: "#/components/schemas/CategoryResponse"
        status:
          type: string
          enum: [DRAFT, ACTIVE, PROMOTED, DELETED, SOLD]
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
    OfferCreateRequest:
      type: object
      properties:
        providerType:
          type: string
          enum: [INTERNAL, EXTERNAL]
        providerUrl:
          type: string
          description: Opcjonalne
        imageUrls:
          type: array
          items:
            type: string
        description:
          type: string
        price:
          type: number
        categories:
          type: array
          items:
            $ref: "#/components/schemas/CategoryResponse"
    OfferUpdateRequest:
      type: object
      properties:
        imageUrls:
          type: array
          items:
            type: string
        description:
          type: string
        price:
          type: number
        categories:
          type: array
          items:
            $ref: "#/components/schemas/CategoryResponse"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
